*
{
	box-sizing: border-box;
	
	
	
}
body
{
	font-family: 'Abel', sans-serif;
	line-height: 1.5;
	font-size: 1rem;
	margin: 0px;
}
h1,h2,h3,h4,h5,h6
{
	font-family: 'DM Serif Display', serif;
}
.nav-bar
{
	
	
	padding: 30px 0px;
}
a
{
	color: inherit;
	text-decoration: none;
}
.logo
{
	color:#D58988;
	margin-top: 0rem;
	padding: 0rem 0.5rem;
}
.nav-bar ul
{
	list-style: none;
	display: block;
	text-align: center;
}
.nav-bar ul
{
	padding: 0px;
	margin: 0px;

}
.nav-bar ul li
{
	float:left;
	
	border: 1px solid #D5A088;
	color:#D5A088;
	width:24%;
	margin: 0px 0.5%;
	font-weight: bold;
}
.nav-bar ul li:hover
{
	background-color:#D5A088;
	color:#FFCDA3;
}
.nav-bar ul li a
{
	display: block;
	padding: 10px 30px;
}
.clear
{
	clear: both;
}
.container
{
	max-width: 60rem;
	width: auto;
	padding: 0px 15px;
	margin: 0 auto;
}
.main-content
{
	padding: 50px 0px;
	background-color: #FFCDA3;
}
.tabheading a
{
	border-bottom:1px solid #D58988;
	display: inline-block;
	padding: 0.5rem 1.5rem;
	margin: 0rem 1rem;
	text-transform: capitalize;

}
.tabcontent
{
	padding: 1.2rem 0rem;
	
}

.tabhead
{
	text-transform: uppercase;
}
.conimg
{
	width:25%;
	float: left;
	padding: 0.5rem;

}
.conimg img
{
	width: 100%;
	padding: 1.5rem 0rem;
}
.context
{
	width:75%;
	float: left;
	padding: 0rem 1rem;

}
#active-button
{
	background-color: #D58988;
	color: #ECAFA3;
	font-weight: bold;

}
.masthead
{
	background-image: url('mastheadbgedited.jpg');
	padding:50px 0px;
	background-position: center;
	background-size: 100% 150%;
	color: #FFCDA3;
	
	
}
footer
{
	background-color: #333;
	color: white;
	padding:50px 0px;
}

.footer a
{
	display: inline-block;
	padding:1rem;
	vertical-align: top;
	color:#F79EC5;
}

@media(max-width: 30rem)
{
	body
	{
		font-size: 0.75rem;
		
	}
	.nav-bar ul li
	{
		float:none;
		display: block;
		border: 0px solid #D5A088;
		border-bottom: 1px solid #D5A088;
		color:#D5A088;
		width:100%;
		margin: 1rem 0.5%;
		text-align: left;
	}
	.conimg
	{
		width:100%;
		float: none;
		padding: 0.5rem;

	}
	.conimg img
	{
		width: 100%;
		padding: 1.5rem 0rem;
	}
	.context
	{
		width:100%;
		float: none;
		padding: 0rem 1rem;

	}
	.tabheading a
	{
		border-bottom:1px solid #D58988;
		display: inline-block;
		padding: 0.5rem 0.5rem;
		margin: 0rem 0.1rem;
		text-transform: capitalize;

	}














	
}

/* Color Theme Swatches in Hex */
 /*
 color: #FFCDA3; 
 color: #D5A088; 
 color: #ECAFA3; 
 color: #D58988; 
 color: #F79EC5; 
 */

